{% extends 'base.html' %} {% block title %} {% endblock title %} 
{% block body%}
 
<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/1.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/static/5.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="/static/2.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<br>
<div class="container">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading left">AI & ML First Batch <span class="text-muted">We’ll blow your mind.</span></h2>
      <p class="lead">Google CEO Sundar Pichai claimed that artificial intelligence (AI) will be more transformative to humanity than electricity.</p>
      <br>
      <p class="lead">A McKinsey survey has found that out of 2,395 participants, 1,151 people said that their companies have adopted AI in at least one function within the organization.</p>
      <p class="lead">In 2020, private AI investment increased by 9.3% from 2019, despite the COVID-19. This is 3.6% higher than the development from 2018 to 2019.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="/static/ai.webp" dy=".3em">500x500</text></svg>

    </div>
  </div>
</div>

{% endblock body %}